<form [formGroup]="resevationForm" (ngSubmit)="onSubmit()">

  <div>
    <label>Check-In Date:</label>
    <input type="date" formControlName="checkInDate">
    <div *ngIf="resevationForm.get('checkInDate')?.invalid && resevationForm.get('checkInDate')?.touched">
      Check In Date is required.
    </div>
  </div>

  <div>
    <label>Check-Out Date:</label>
    <input type="date" formControlName="checkOutDate">
    <div *ngIf="resevationForm.get('checkOutDate')?.invalid && resevationForm.get('checkOutDate')?.touched">
      Check Out Date is required.
    </div>
  </div>

  <div>
    <label>Guest Name:</label>
    <input formControlName="guestName">
    <div *ngIf="resevationForm.get('guestName')?.invalid && resevationForm.get('guestName')?.touched">
      Guest Name is required.
    </div>
  </div>

  <div>
    <label>Guest Email:</label>
    <input type="email" formControlName="guestEmail">
    <div *ngIf="resevationForm.get('guestEmail')?.invalid && resevationForm.get('guestEmail')?.touched">
      Guest Email is required.
    </div>
  </div>

  <div>
    <label>Room Number:</label>
    <input type="number" formControlName="roomNumber">
    <div *ngIf="resevationForm.get('roomNumber')?.invalid && resevationForm.get('roomNumber')?.touched">
      Room Number is required.
    </div>
  </div>

  <button type="submit" [disabled]="resevationForm.invalid">Submit</button>

</form>
